.cabinet-page .container .tab-content {
    flex: 0 1 73.7%;
}

.order-info {
    background: #FFFFFF;
    padding: 22px 43px 60px 39px;
    margin-bottom: 134px;
}
.order-info .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-info .title .text {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #00A046;
}
.order-info .title .text span {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0 6px 0 12px;
}
.order-info .title .status {
    margin-left: auto;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #fff;
    padding: 2px 9px;
    margin-top: 3px;
    width: fit-content;
}
.order-info .title .status p {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.order-info .title .status.inwork {
    background-color: #f79e1b;
}
.order-info .title .status.canceled {
    background-color: #ff0000;
}
.order-info .title .status.done {
    background-color: #00a046;
}
.order-info .flex {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.order-info .flex .left {
    flex: 0 1 39.9%;
    height: fit-content;
}
.order-info .flex .left .client-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 28px 33px 53px;
    row-gap: 42px;
    border: 1px solid #E1E1E1;
}
.order-info .flex .left .client-info .block {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.order-info .flex .left .client-info .block h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #00a046;
    margin-bottom: 5px;
}
.order-info .flex .left .client-info .block div {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.order-info .flex .left .client-info .block div.phone {
    white-space: nowrap;
}
.order-info .flex .left .client-info .block div span {
    font-weight: 700;
}
.order-info .flex .left .back_to_menu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 23px 0 0;
    padding: 20px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #00a046;
    color: #00a046;
    position: relative;
    text-decoration: none;
}
.order-info .flex .left .back_to_menu svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 22px;
}
.order-info .flex .left .load-more {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 11px 0 0;
    padding: 19px 0 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    background-color: #00a046;
    color: #fff;
    position: relative;
    text-decoration: none;
    gap: 18px;
}
.order-info .flex .left .load-more svg {
    width: 23px;
}
.order-info .flex .ordered-items {
    display: flex;
    flex: 0 1 58.1%;
    border: 1px solid #E1E1E1;
    flex-direction: column;
    padding: 28px 12px 52px 30px;
}
.order-info .flex .ordered-items > h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #00A046;
    padding-bottom: 8px;
}
.order-info .flex .ordered-items .goods-list {
    max-height: 404px;
    overflow: auto;
    margin-bottom: 37px;
    padding: 0 17px 0 0;
}
.order-info .flex .ordered-items .goods-list::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff;
}
.order-info .flex .ordered-items .goods-list::-webkit-scrollbar-thumb {
    background-color: #00a046;
}
.order-info .flex .ordered-items .goods-list .cart-goods {
    border-bottom: 1px solid #bcbcbc;
    display: flex;
    padding: 15px 0px 19px 1px;
    align-items: center;
    gap: 5.4%;
}
.order-info .flex .ordered-items .goods-list .cart-goods .photo {
    flex: 0 0 100px;
    background: #f6f6f6;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.order-info .flex .ordered-items .goods-list .cart-goods .photo img {
    width: 100px;
    height: 100px;
}
.order-info .flex .ordered-items .goods-list .cart-goods .title {
    flex: 0 1 190px;
    display: flex;
    flex-direction: column;
    margin-top: 11px;
    align-items: start;
    gap: 10px;
}
.order-info .flex .ordered-items .goods-list .cart-goods .title > h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}
.order-info .flex .ordered-items .goods-list .cart-goods .title > .articul {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #bcbcbc;
}
.order-info .flex .ordered-items .goods-list .cart-goods .title .hidden {
    display: none;
}
.order-info .flex .ordered-items .goods-list .cart-goods .quantity {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    margin-left: 4px;
    margin-right: 8px;
    white-space: nowrap;
}
.order-info .flex .ordered-items .goods-list .cart-goods .price {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-left: auto;
    align-self: center;
    white-space: nowrap;
}
.order-info .flex .ordered-items .quantity,
.order-info .flex .ordered-items .total-price {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.order-info .flex .ordered-items .quantity span,
.order-info .flex .ordered-items .total-price span {
    font-weight: 700;
}

@media (max-width: 1150px) {
    .order-info {
        padding: 35px 17px;
    }
    .order-info .flex {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .order-info .flex .left {
        flex: 0 1 100%;
    }
    .order-info .flex .left .client-info {
        border: 0;
        flex-wrap: nowrap;
        padding: 28px 0;
        border-top: 1px solid #E1E1E1;
    }
    .order-info .ordered-items {
        display: flex;
        flex: 0 1 100%;
        border: 0;
        flex-direction: column;
        padding: 0;
    }
    .order-info .ordered-items > h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #00A046;
        padding-bottom: 8px;
    }
    .order-info .ordered-items .goods-list {
        max-height: 404px;
        overflow: auto;
        margin-bottom: 37px;
        padding: 0 17px 0 0;
    }
    .order-info .ordered-items .goods-list::-webkit-scrollbar {
        width: 5px;
        background-color: #ffffff;
    }
    .order-info .ordered-items .goods-list::-webkit-scrollbar-thumb {
        background-color: #00a046;
    }
    .order-info .ordered-items .goods-list .cart-goods {
        border-bottom: 1px solid #bcbcbc;
        display: flex;
        padding: 15px 0px 19px 1px;
        align-items: center;
        gap: 5.4%;
    }
    .order-info .ordered-items .goods-list .cart-goods .photo {
        flex: 0 0 100px;
        background: #f6f6f6;
        width: 100px;
        height: 100px;
        overflow: hidden;
    }
    .order-info .ordered-items .goods-list .cart-goods .photo img {
        width: 100px;
        height: 100px;
    }
    .order-info .ordered-items .goods-list .cart-goods .title {
        flex: 0 1 190px;
        display: flex;
        flex-direction: column;
        margin-top: 11px;
        align-items: start;
        gap: 10px;
    }
    .order-info .ordered-items .goods-list .cart-goods .title > h3 {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
    }
    .order-info .ordered-items .goods-list .cart-goods .title > .articul {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #bcbcbc;
    }
    .order-info .ordered-items .goods-list .cart-goods .title .hidden {
        display: none;
    }
    .order-info .ordered-items .goods-list .cart-goods .quantity {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #333333;
        margin-left: 4px;
        margin-right: 8px;
        white-space: nowrap;
    }
    .order-info .ordered-items .goods-list .cart-goods .price {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        margin-left: auto;
        align-self: center;
        white-space: nowrap;
    }
    .order-info .ordered-items .quantity,
.order-info .ordered-items .total-price {
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
    }
    .order-info .ordered-items .quantity span,
.order-info .ordered-items .total-price span {
        font-weight: 700;
    }
    .order-info .back_to_menu {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 23px 0 0;
        padding: 20px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        border: 1px solid #00a046;
        color: #00a046;
        position: relative;
        text-decoration: none;
    }
    .order-info .back_to_menu svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 22px;
    }
    .order-info .load-more {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 20px 0 0;
        padding: 19px 0 19px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        background-color: #00a046;
        color: #fff;
        position: relative;
        text-decoration: none;
        gap: 18px;
    }
    .order-info .load-more svg {
        width: 23px;
    }
}
@media (max-width: 992px) {
    .cabinet-page .container .tab-content {
        flex: 0 1 100%;
    }
}
@media (max-width: 768px) {
    .cabinet-page .container .tab-content {
        background: transparent;
    }
    .order-info {
        margin-bottom: 10px;
        padding: 0;
    }
    .order-info .flex {
        gap: 25px;
        background: #fff;
        padding: 30px 17px;
    }
    .order-info .flex .title {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
    }
    .order-info .flex .title .text {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        flex-direction: column;
        margin: 0 6px 0 19px;
    }
    .order-info .flex .title .text span {
        font-size: 16px;
        line-height: 19px;
        margin: 0;
    }
    .order-info .flex .title svg {
        scale: 1.5;
        margin-left: 5px;
    }
    .order-info .flex .title .status {
        padding: 9px 18px 8px;
    }
    .order-info .flex .left .client-info {
        row-gap: 28px;
        padding: 22px 0;
        flex-direction: column;
    }
    .order-info .flex .left .client-info .block {
        gap: 4px;
    }
    .order-info .flex .left .client-info .block h2 {
        margin-bottom: 15px;
    }
    .order-info .ordered-items {
        background: #fff;
        margin-top: 20px;
        padding: 39px 5.5px 28px 17px;
    }
    .order-info .ordered-items > h3 {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 10px;
    }
    .order-info .ordered-items .goods-list {
        max-height: 473px;
        margin-bottom: 30px;
    }
    .order-info .ordered-items .goods-list .cart-goods {
        gap: 7.2%;
        padding: 30px 0px 28.5px;
        position: relative;
        align-items: start;
        margin-top: 1px;
    }
    .order-info .ordered-items .goods-list .cart-goods:first-child {
        padding: 23px 0px 28px 0;
    }
    .order-info .ordered-items .goods-list .cart-goods .title {
        flex: 1 1 100%;
        margin-top: 0;
        gap: 13px;
    }
    .order-info .ordered-items .goods-list .cart-goods .title > h3 {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
    }
    .order-info .ordered-items .goods-list .cart-goods .price {
        position: absolute;
        bottom: 26.5px;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 122px);
        left: 118px;
        font-size: 18px;
        line-height: 21px;
    }
    .order-info .ordered-items .goods-list .cart-goods .price .quantity {
        font-size: 16px;
        line-height: 19px;
    }
    .order-info .back_to_menu {
        margin: 20px 0 0;
    }
}