.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}
.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
}
.popup.show {
  visibility: visible;
  overflow: auto;
}
.popup.show::before {
  opacity: 1;
}
.popup.show .popup__body {
  transform: scale(1);
}
.popup._active {
  overflow: auto;
  visibility: visible;
}
.popup._active::before {
  opacity: 1;
}
.popup._active .popup__body {
  transition: all 0.3s ease 0.2s;
  transform: scale(1);
}
.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.popup__body {
  transform: scale(0);
  transition: all 0.3s ease 0s;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  padding: 84px 30px 40px;
  width: 100%;
  max-width: 380px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  position: relative;
}
.popup__body .icon {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #00A046;
  align-items: center;
  width: 92px;
  height: 90px;
  top: -57px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 100;
}
.popup__body .popup__close {
  color: #00A046;
}
.popup__body .phone {
  width: 100%;
  position: relative;
  margin: 30px 0 35px;
}
.popup__body .phone svg {
  position: absolute;
  top: 15px;
  left: 21px;
}
.popup__body .phone input {
  padding: 13px 30px 10px 42px;
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  width: 100%;
}
.popup__body .phone input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #BCBCBC;
}
.popup__body .phone input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #BCBCBC;
}
.popup__body h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}
.popup__body .green-btn {
  background-color: #00A046;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 100%;
  max-width: 320px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__body .green-btn:hover {
  text-decoration: none;
}
.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  font-size: 49px;
  font-weight: 400;
  right: 19px;
  top: 13px;
  cursor: pointer;
  z-index: 30;
}

@media (max-width: 500px) {
  .popup {
    padding: 30px 28px;
  }
  .popup__body {
    padding: 84px 30px 33px;
  }
  .popup__body .icon {
    width: 74px;
    height: 75px;
    padding: 18px;
    top: -43px;
  }
  .popup__body .phone {
    margin: 23px 0 35px;
  }
  .popup__body .phone svg {
    left: 11px;
  }
  .popup__body .phone input {
    padding: 13px 30px 10px 32px;
  }
}
